/* Heading styles */
.md-content h1,
.md-content h2,
.md-content h3,
.md-content h4,
.md-content h5,
.md-content h6 {
  font-weight: bold;
  border-bottom: 2px solid var(--md-default-fg-color--light);
  padding-bottom: 0.25em;
  margin-bottom: 0.75em;
}

/* Inline code border */
.md-typeset code {
  padding: 0.1rem 0.2rem;
  border-radius: 3px;
  border: 1px solid #E0E0E0;
}

/* Table styles */
.md-typeset table thead th {
  background-color: #F9F9F9;
  color: #000000;
  font-weight: bold;
  padding: 10px;
  border-bottom: 2px solid #1B5E20;
}

.md-typeset table tbody td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.md-typeset table tbody tr:hover {
  background-color: #f5f5f5;
}

.md-typeset table {
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
